 .navbar{
     background-color: #4F5B93;
     color:white;
 }

 a {
    color: white;
    text-decoration: none;
}

h4 a {

    color : #4F5B93;
}

img{
    max-width: 100%;
    max-height: 100%;
    border:1px #ccc solid;
    border-radius:10px;
    padding:10px
}


.panel-default > .panel-heading {
    color: white;
    background-color:#4F5B93;
    border-color: #ddd;
}

#delete-button{
    display: inline;
    float:right;
}
#sidebar{
    margin-left: 15px;
    margin-top: -10px;
}

#searchbox{
    margin-top: 5px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #4F5B93;
    border: 1px solid #ddd;
}
a.list-group-item, button.list-group-item {
    color: white;
}

 .carousel-inner>.item>img, .carousel-inner>.item>a>img {

     width: 100%; // Add this
 }

 input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
     background-color: blue;
     background-image: none;
     color: rgb(0, 0, 0);
 }